App {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.myimg {
    height: 100px;
    width: 100;
    object-fit: cover;
    display: inline-block;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heading {
    padding-left: 13rem;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 10rem;
    font-weight: 10rem;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}